<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="castle_digital" translate="label" sortOrder="77">
            <label>Headless</label>
        </tab>
        <section id="castle_general_settings" translate="label" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Configurações gerais</label>
            <tab>castle_digital</tab>
            <resource>CastleIt_GeneralSettings::generalSettings_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configurações gerais</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Habilitar Módulo</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="social_media" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Redes sociais</label>

                <depends>
                    <field id="castle_general_settings/general/enable">1</field>
                </depends>
                <field id="facebook" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Facebook</label>
                </field>
                <field id="instagram" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Instagram</label>
                </field>
                <field id="linkedin" translate="label comment" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Linkedin</label>
                </field>
                <field id="twitter" translate="label comment" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Twitter</label>
                </field>
                <field id="youtube" translate="label comment" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Youtube</label>
                </field>
            </group>
            <group id="payment_flags" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Bandeiras de pagamento</label>
                <depends>
                    <field id="castle_general_settings/general/enable">1</field>
                </depends>
                <field id="visa" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Visa</label>
                    <validate>validate-digits validate-not-negative-number</validate>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="mastercard" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>mastercard</label>
                    <validate>validate-digits validate-not-negative-number</validate>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="amex" translate="label comment" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Amex</label>
                    <validate>validate-digits validate-not-negative-number</validate>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="diners" translate="label comment" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Diners</label>
                    <validate>validate-digits validate-not-negative-number</validate>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="hipercard" translate="label comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hipercard</label>
                    <validate>validate-digits validate-not-negative-number</validate>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="pix" translate="label comment" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pix</label>
                    <validate>validate-digits validate-not-negative-number</validate>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="boleto" translate="label comment" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Boleto</label>
                    <validate>validate-digits validate-not-negative-number</validate>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>